@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  /* font-weight: 100;
  font-style: normal; */
}

@media (min-width: 992px) {
  * {
    cursor: none;
  }

  .cursor {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999 !important;
    /* will-change: width, height, transform, border; */
  }
}

/* Disable arrow buttons in number input */
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.nav-height {
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .all-proj:nth-child(1) img, .all-proj:nth-child(4) img, .all-proj:nth-child(5) img, .all-proj:nth-child(8) img{
    height: 600px;
  }

  .all-proj:nth-child(2) img, .all-proj:nth-child(3) img, .all-proj:nth-child(6) img, .all-proj:nth-child(7) img{
    height: 300px;
  }
  /* .all-proj:nth-of-type(2) img {
    height: 200px;
  }
  .all-proj:nth-of-type(3) img {
    height: 200px;
  } */
  /* .all-proj img:nth-child(4) {
    height: 800px !important;
  } */
}

.h-night{
  height: calc(100vh - 5rem);
}